@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Math', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 40px;
}

h1 {
    font-size: 4.5em;
    margin-bottom: 20px;
    text-shadow: -11px -1px 10px rgba(0,0,0,0.83);
}

.images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.images {
    flex-shrink: 0; 
    max-width: 300px;
    margin-right: 220px;  /
}


.navbar {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 88%; 
    left: 5%;
    top: 0; 
    bottom: 86%;
    z-index: 1000; 
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #6f00ff; 
}


.content {
    padding-top: 80px; 
}

.tombol-lonte {
    margin-left: 3vw;
   margin-top: -36vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #000000;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #2e2020;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}